@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, 'Times New Roman', Times, serif;
}
.container {
    display: grid;
    grid-template-columns: fit-content(300px) 3fr;
    grid-template-rows: 1fr 5fr;
}

/* ----- Sidebar ----- */

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #2390CF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.logo {    
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
}

.logo img {
    width: 30px;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(7446%) hue-rotate(296deg) brightness(108%) contrast(100%);
}

.nav ul {    
    padding: 8px;
}

.nav ul li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li img {
    width: 15px;
}

.nav-item li {
    display: flex;    
    justify-items: center;
    gap: 18px;
}

.nav-item {
    margin-top: 18px;
}

/* ----- Header ----- */

.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 10px;
}

/* Common part for these containers. There are additional styles for them below*/
.user-info, .search, .greeting, .buttons {
    align-self: start;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 18px;
}

.buttons {
    align-self: center;
}

button {
    background-color: #238fcd;
    color: white;
    font-size: 12px;
    padding: 5px 20px;
    border-color: #2390CF;
    border-radius: 12px;
    border-width: 1px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 12px 20px 0 rgba(0,0,0,0.19);
}

.search, .greeting {
    grid-column: 1 / 3;
    min-width: 300px;
}

.search input {
    background-color: #E1E7EF;
    border: 1px;
    border-radius: 8px;
    padding-left: 8px;
    flex: 1;
    height: 20px;
}

input:focus {
    background-color: rgb(35, 144, 207, 0.2);
}

.user-info {
    font-size: 14px;
    font-weight: 700;    
    justify-self: end;
}

.greet-first {
    font-size: 10px;
    font-weight: 700;
}

.greet-second {
    font-size: 17px;
    font-weight: 700;
}

.buttons {
    grid-column: 3 / 4;
    justify-self: end;
}

.icon {
    width: 15px;
}

.icon-change:hover {
    transform: scale(1.2);
}

.avatar {
    width: 30px;
}

/* ----- Projects (main section) ----- */

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
}

.main-content {
    background-color: #E1E7EF;
    display: grid;
    grid-template-columns: 1fr fit-content(220px);
    padding: 25px 25px 30px 15px;
    gap: 20px;
}

.project-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.project {
    background-color: white;
    padding: 20px 20px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 4px 2px -2px rgba(117, 118, 117, 0.5), 6px 0px 0px -1px rgba(238, 178, 65) inset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

h4 {
    margin-bottom: 0;
}

h3 {
    font-size: 15px;    
    margin-top: 0;
    margin-bottom: 7px;
}

.mini-container {
    background-color: white;
    padding: 15px 20px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 4px 2px -2px rgba(117, 118, 117, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ann-item {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-top: 10px;

}

.ann-item:last-child {
    border: none;
}

.ann-item > div {
    display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 3; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.ann-item:last-child > div {
    display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 4; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.ann-text, .annotation-text {
    text-decoration: none;
    color: grey;
}

.trend-item {        
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.nick {
    text-decoration: none;
    color: black;
}

.app {
    font-size: 11px;
    color: grey;
}

.avatar-big {
    width: 40px;
}

h5 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 11px;
}

.round {
    width: 40px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}

.round.cat {
    background:#F9CA3D;
}

.round.cat-big {
    width: 55px;
    height: 45px;    
    text-align: center;
    background: #F9CA3D;
}

.round.man {
    background: #A1A1A1;
}

.round.horse {
    background: #DFF1FD;
}

.round.dragon {
    background: #FCA3AD;
}